/* Estipo para telas */

@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

html {
    font: normal normal 1.1em Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(255, 128, 128, 0.088);
}

header h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: gray;
}

menu li {
    display: inline-block;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
}

