/* Estipo para telas */

@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

html {
    font: normal normal 1.1em Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(228, 228, 228);
}

header {
    background-color: rgb(188, 188, 188);
}

header h1 {
    text-align: center;
    padding: 10px;

}

main {
    padding: 0px 20px;
}

menu ul {
    list-style-type: none;
    background-color: rgb(188, 188, 188);
}

menu li {
    display: inline-block;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 10px;
}

article {
    min-width: 300px;
    max-width: 600px;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    text-align: justify;
    background-color: white;
}

article h2 {
    text-align: center;
}

article p {
    padding: 10px 0px;
    text-indent: 30px;
}

